<ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul>



<table class="table table-condensed">
  <thead>
    <tr>
      <th>usuario</th>
      <th>cuit</th>
      <th>sexo</th>
      <th>gano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.usuario}} </td>
      <td>{{jugador.cuit}} </td> 
      <td>{{jugador.sexo | sexo| uppercase}} </td> 
      <td>{{jugador.gano}} </td> 
      
    </tr>
   
  </tbody>
</table>