

<div class="panel panel-default">
    <div class="hero-text">
        <h1 style="font-size:50px">Sala de Juegos</h1>
        <p>Octavio villegas</p>
        <a href="https://github.com/octaviovillegas"target="_blank">en GitHub <i class="fa fa-github"></i></a>
        <a  routerLink="/QuienSoy"target="_blank">Quien Soy? <i class="fa fa-github"></i></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Registrase</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
          </ul>
</div>