<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Juego</th>
        <th>Jugador</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado">
        <td>{{juego.nombre}} </td>
        <td>{{juego.jugador}} </td> 
        <td *ngIf="juego.gano">Gano </td>   
        <td *ngIf="!juego.gano">Perdio</td>     
      </tr>
     
    </tbody>
  </table>