<div class="panel panel-default">
  <div class="hero-text">
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <p>Octavio villegas</p>
      <a href="https://github.com/octaviovillegas"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
  </ul>
</div>
